<!-- <nav class="navbar p-0">
  <mat-toolbar class="ps-5 pe-5">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span class="primary-text-color">My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="white-icon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon">share</mat-icon>
    </button>
  </mat-toolbar>
</nav> -->
<main>
  <app-list></app-list>
</main>