<section class="container center-section">
  <div class="row ms-5 mb-5 ps-5">

    <div class="col-5 align-self-center pt-5 mt-5">
      <div class="text-decoration-underline fs-3 top-items text-center" *ngIf="allItems.length > 0">
        {{getLenghtItems().length }} items left
      </div>
  
      <div class="title-todo p-2 mt-5 mb-3 top-items text-center">
        <p class="fs-4 m-0">Todo list</p>
      </div>

      <mat-card>
        <mat-card-content>
          <section class="list-section-two">
            <div class="container d-grid">
              <div class="row d-grid todo-item" *ngFor="let todo of getDisplayedFilteredItems()">
                <span class="col p-0 input-items" (click)="selectItem(todo)">
                  <mat-checkbox color="accent" class="example-margin font-monospace">
                    <span class="list-items-left">{{todo.todoName}}</span>
                  </mat-checkbox>
                </span>
              </div>
            </div>
          </section>

          <section class="list-section-new">
            <button class="new-todo" mat-raised-button (click)="toggleInputField()">+ New Task</button>
            <div class="alert-wrapper position-absolute" *ngIf="showInputField">
              <div class="alert alert-dismissible fade show alert-new-item pe-3" role="alert">
                <input class="new-todo-name" [(ngModel)]="newTodoName" placeholder="Enter new todo name">
                <button class="add-todo" mat-raised-button color="primary" (click)="addTodo(newTodoName)">Add Task</button>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="toggleInputField()"></button>
              </div>
            </div>
          </section>
          
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-7 d-flex justify-content-start flex-column">
      <section class="chips-section mt-5 mb-3">
        <mat-chip-listbox aria-label="Items selection" class="text-center">
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'all'" selected>ALL</mat-chip-option>
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'todo'">TODO</mat-chip-option>
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'done'">DONE</mat-chip-option>
        </mat-chip-listbox>
      </section>
      <section class="list-section position-relative">
        <div class="sheet position-absolute">
          <img [src]="imagePath" class="img-fluid" alt="Sheet image for list of shoping items" width="480">
        </div>
        <div class="sheet-list position-absolute">
          <app-items class="lists m-0" *ngFor="let item of filteredItems()" [item]="item" [itemsList]="allItems" (selectTodo)="selectItem($event)" (deleteItem)="deleteTodo($event)"></app-items>
        </div>

      </section>
    </div>


  </div>
</section>

<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show message-container" role="alert" *ngIf="showMessage">
  <strong>Holy guacamole! </strong> &nbsp;{{ messageText }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeMessage()"></button>
</div>