<section class="container center-section">
  <div class="row ms-5 mb-5 ps-5">

    <div class="col-5 align-self-center pt-5 mt-5">
      <div class="text-decoration-underline fs-3 top-items text-center">
        {{allItems.length }} items left
      </div>
  
      <div class="title-todo p-2 mt-5 mb-3 top-items text-center">
        <p class="fs-4 m-0">Todo list</p>
      </div>

      <mat-card>
        <mat-card-content>
          <section class="list-section-two">
            <div class="container d-grid">
              <div class="row d-grid todo-item" *ngFor="let todo of allItems">
                <span class="col p-0 input-items">
                  <mat-checkbox color="accent" class="example-margin font-monospace">
                    <span class="list-items-left">{{todo.todoName}}</span>
                  </mat-checkbox>
                </span>
              </div>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-7 d-flex justify-content-start flex-column">
      <section class="chips-section mt-5 mb-3">
        <mat-chip-listbox aria-label="Items selection" class="text-center">
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'all'" selected>ALL</mat-chip-option>
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'todo'">TODO</mat-chip-option>
          <mat-chip-option color="accent" class="text-center" (click)="filter = 'done'">DONE</mat-chip-option>
        </mat-chip-listbox>
      </section>
      <section class="list-section position-relative">
        <div class="sheet position-absolute">
          <img [src]="imagePath" class="img-fluid" alt="Sheet image for list of shoping items" width="480">
        </div>
        <div class="sheet-list position-absolute">
          <dl class="lists m-0">
            <dd class="items" *ngFor="let todo of filteredItems()">
              <span class="button-items-right">
                <button mat-raised-button color="accent" (click)="deleteTodo(todo)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </span>
              <mat-checkbox class="example-margin font-monospace mat-square-checkbox">
                <span class="list-items-right position-relative">{{todo.todoName}}</span>
              </mat-checkbox>
            </dd>
          </dl>
        </div>
      </section>
    </div>

  </div>
</section>
