@import '../settings/variables';
@import '../settings/mixin';


.errorMessage {
  color: red;
}

.center-section {
  height: 80svh;
  div.row {
    height: 100%;
    div.col-5 {
      .top-items {
        width: 400px;
        }
      .top-items:nth-child(2) {
        background-color: $primary-accent-color;
        border-radius: 4px;
        p {
          padding: 10px;
        }
      }
      mat-card { 
        width: 400px;
        height: 324px;
        @media (max-width: 1900px) {
          .todo-item {
            margin-left: 10px;
          }
        }
        @media (max-width: 1200px) {
          .todo-item {
            margin-left: 5px;
          }
        }
        @media (max-width: 991px) {
          .todo-item {
            margin-left: 0px;
          }
        }
        .list-section-two {
          padding: 48px;
        }
        @media (max-width: 991px) {
          .list-section-two {
            padding: 28px;
          }
        }
        @media (max-width: 768px) {
          .list-section-two {
            padding: 0px;
          }
        }
        span.list-items-left {
          font-family: 'Inder', sans-serif;
        }
        input.new-todo-name {
          border: none;
          border-bottom: 1px solid grey;
        }
      }
      .new-todo {
        border-radius: 40px;
        background-color: $primary-accent-color;
        color: $primary-text-color;
        font-size: 13px;
        padding: 0 25px;
        right: 35%;
        bottom: -70px;
      }
      .alert-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -40%;
        left: 10%;
        .alert-new-item {
          background-color: rgba(245, 245, 245, 0.6);
          @include blur-effect(5px);
          border-radius: 4px;
          width: 300px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-shadow: 1px 1px 10px 1px #34343478;
          .add-todo {
            background-color: $primary-accent-color;
            color: $primary-text-color;
          }
          .btn-close {
            position: absolute;
            top: 5px;
            right: 5px;
          }
          input {
            width: 100%;
            padding: 6px 10px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          input::placeholder {
            color: gray;
          }
        }
      }
      
    }
   
    div.col-7 {
      section.chips-section {
        margin-left: 70px;
        mat-chip-option {
          width: 100px;
          height: 25px;
        }
      }
      section.list-section {
        div.sheet-list, div.sheet {
          width: 100%;
        }
        div.sheet-list {
          top: 88px;
          left: 55px;
          .lists {
            div.items {
              margin: 0;
              height: 25px;
              span.list-items-right {
                font-family: 'Handlee', cursive;
                color: $secondary-text-color;
                font-size: 16px;
                top: 2px;
                width: 255px;
              }
            }
          }
        }
        div.sheet {
          height: auto;
        }
      }
    }
  }
}
.message-container {
  position: fixed;
  top: 0%;
  left: 0%;
  font-size: x-large;
  letter-spacing: 2px;
  background: #7fffd471;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: $primary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @include blur-effect(5px);
}

.alert-dismissible .btn-close {
  top: 20px;
  right: 20px;
}


// Angular custom styles

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  border-radius: 50%;
  background-color: $primary-accent-color !important;
  border: 2px solid $primary-bg-color !important;
}
.mat-mdc-checkbox-checked .mdc-form-field .mdc-label .list-items-left,
.mat-mdc-checkbox-checked .mdc-form-field .mdc-label .list-items-right {
  text-decoration: line-through;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-radius: 50% !important;
  background-color: white !important;
  border: 2px solid $primary-accent-color !important;
}

.mat-square-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  border-radius: 4px !important;
  background-color: white !important;
  border: 2px dotted $primary-text-color !important;
}
.mat-square-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-radius: 4px !important;
  background-color: white !important;
  border: 2px dotted $primary-text-color !important;
}

.mdc-checkbox .mdc-checkbox__native-control:checked~.mdc-checkbox__ripple {
  opacity: 0 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  background: url('./imgs/done-white25.png') no-repeat center center; 
  color: transparent;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__action--primary {
  padding: 0;
}

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary {
  display: block;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  color: transparent !important;
}

// text

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  font-size: 12px;
}

.mat-square-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: $item-checked-color !important;
}

// buttons 
span.button-items-right .mat-mdc-raised-button.mat-mdc-button-base {
  width: 20px;
  height: 20px;
  min-width: 20px;
  padding: 0;
  .mat-icon {
    margin: 0;
  }
}

